*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  }
  
  html, body {
    background-color: #efefef;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto; /* Adiciona a barra de rolagem */
  }
  
  #rout {
    height: 100%;
  }